/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
div {
    background-color: #E31837;
}

img {
    border: 4px dotted gold;
}

body {
    div {
        background-color: #E31837;
    }  
}

h1 {
    text-align: center;
    color: purple;
}

ul {
    color: rgb(0, 255, 204);
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: aquamarine;
    font-style: italic;
}
